openapi: 3.0.4
info:
  title: Advice Generator
  description: Advice Generator is a simple tool for generating random pieces of advice. It returns a random piece of advice.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.9
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
- url: https://api.apiverve.com/
paths:
  /v1/advice:
    get:
      summary: Generate Random Advice
      description: Advice Generator is a simple tool for generating random pieces of advice. It returns a random piece of advice.
      operationId: advice
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: string
                    description: data
              example:
                status: ok
                error: 
                data:
                  id: 1t39qBIy
                  advice: Seek ways to improve your financial literacy and make sound financial decisions.
                  lang: en
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occured, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
- api_key: []
